global
    stats socket /tmp/haproxy.sock mode 660 level admin
    stats timeout 2m    # Wait up to 2 minutes for input

frontend http-rqlite
    bind IP_ADDR:8080
    mode http
    option httplog
    log /dev/log local0 info
    default_backend rqlite-backend
    timeout client          1m


backend rqlite-backend
    mode http
    timeout connect     10s
    timeout server      1m
    server-template     rqlite_ 1-100 RQLITE_BACKEND check disabled
